.center{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border-style: dashed;
    border: 2px;
}

body {
    background-image: url("../resources/win7.jpg");
}